.card {
  background: #fff;
  border-radius: 2px;
  height: 305px;
  margin: .5rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
 
  overflow: hidden;
  text-align: center;

}
.card > .img-container > img {
  width: 80%
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
